.app-header {
    background-color: rgb(56, 215, 236);
    padding: 20px;
    margin-bottom: 10px;
    color: white;
}

.header-top-container{
    display:flex;
    justify-content:space-between;
}

.fixed-header .mobile-top-header p{
    display:none;
}

.mobile-top-header {
    display:flex;
    flex-direction: column;
    
}
.app-logo{
    padding-left: 20px;
}

.app-name {
    font-size:40px;
    color: black;
    font-weight:bold;
    text-align: center;
}

.header-search-bar{
    padding-left:20px;
}

.nav-bar{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.nav-bar li{
    margin: 10px;
}

.fixed-header {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background-color: rgb(56, 215, 236);
  }


ul {
    list-style-type: none;
}