.app-header {
    background-color: rgb(56, 215, 236);
    padding: 20px;
    margin-bottom: 10px;
    color: white;
}

.header-top-container{
    display:flex;
    justify-content:space-between;
}

.app-logo{
    padding-left: 20px;
}

.header-search-bar{
    padding-left:20px;
    
}

.nav-bar{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.nav-bar li{
    margin: 10px;
}

.fixed-header {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background-color: rgb(56, 215, 236);
  }